{% extends 'adminapp/base.html' %}

{% block context%}
    <div class="col-lg-10">
     {% if form.errors or messages %}
    <div class="{% if messages %} alert-success {% else %}alert-warning {% endif %} alert-dismissible
    fade show" role="alert" style="margin-top: 50px;">
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% else %}
            Проверьте следующие поля
            <br>
            {% for key, value in form.errors.items %}
                {{ key }}:{{ value }}
            {% endfor %}
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
<div class="container-fluid">
    <h1 class="mt-4">Товары</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Товары
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Описание</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Категория</th>
                         <th>Активный</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Наименование</th>
                        <th>Описание</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Категория</th>
                        <th>Активный</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for product in products %}
                    <tr>
                        <td><a href="{% url 'adminapp:admin_products_update' product.id %}"
                               style="color: dodgerblue">
                            {{ product.name }}
                        </a></td>
                        <td> {{ product.description }}</td>
                        <td> {{ product.price }}</td>
                        <td> {{ product.quantity }}</td>
                        <td> {{ product.category}}</td>
                         {% if  product.is_active %}
                                <td class="text-center" bgcolor="green">
                                <i class="fas fa-check-circle"></i>
                            {% else %}
                                <td class="text-center" bgcolor="red">
                                <i class="fas fa-times-circle"></i>
                            {% endif %}
                         </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'adminapp:admin_products_create' %}">
                <button class="btn btn-success">Создать товар</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}